name: Build

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:

  build:
    name: Build and Unit Tests
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.21

    - name: Check out code
      uses: actions/checkout@v3.0.2
      with:
        fetch-depth: 0

    - name: Build
      run: make test
